// Font sizes
$default-font-size: 1.6rem;

// Grid
// Grid
$grid-width: 117rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 3rem;

// Colors
$color-white: #fff;
$color-black: #000;
$color-black-2: #121417;
$color-grey-dark: #727272;
$color-grey-dark-2: #7e7e7e;
$color-grey-light-1: #A6A6A6;
$color-grey-light-2: #ccc;
$color-grey-light-3: #DBE0E5;
$color-grey-light-4: #e5e5e5;
$color-lilac: #f6f5fc;
$color-primary: #62b8b3;
$color-secondary: #6293b3;
$color-tertiary: #74b72e;
$color-blue: #368FE8;
