@font-face {
  font-family: "inter-black";
  src: url(../../utils/fonts/inter/Inter-Black.ttf);
}

@font-face {
  font-family: "inter-bold";
  src: url(../../utils/fonts/inter/Inter-Bold.ttf);
}

@font-face {
  font-family: "inter-bold-italic";
  src: url(../../utils/fonts/inter/Inter-BoldItalic.ttf);
}

@font-face {
  font-family: "inter-semi-bold";
  src: url(../../utils/fonts/inter/Inter-SemiBold.ttf);
}

@font-face {
  font-family: "inter-extra-bold";
  src: url(../../utils/fonts/inter/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: "inter-extra-bold-italic";
  src: url(../../utils/fonts/inter/Inter-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: "inter-medium";
  src: url(../../utils/fonts/inter/Inter-Medium.ttf);
}

@font-face {
  font-family: "inter-regular";
  src: url(../../utils/fonts/inter/Inter-Regular.ttf);
}

.title {
  color: $color-grey-dark;
  font-size: 1.8rem;
  font-family: "inter-bold";
  display: inline-block;

  &--ib-56-1 {
    font-size: 5.6rem;
    color: #191a15;
  }

  &--ib-32-1 {
    font-size: 3.2rem;
    color: #191a15;
  }

  &--ib-28-1 {
    font-size: 2.8rem;
    color: #191a15;
  }

  &--ib-18-1 {
    font-size: 1.8rem;
    color: #18191f;
  }

  &--ib-15-1 {
    font-size: 1.4rem;
    font-family: "inter-bold";
    color: "#463209"
  }

  &--isb-30-1 {
    font-family: "inter-semi-bold";
    font-size: 3rem;
    color: #191a15;
  }

  &--isb-48-1 {
    font-family: "inter-semi-bold";
    font-size: 4.8rem;
    color: #191a15;
  }
}

.text {
  font-size: 1.8rem;
  color: $color-grey-dark;
  font-family: "inter-medium";
  display: inline-block;

  &--im-12-1 {
    font-size: 1.2rem;
    color: #191a15;
  }

  &--im-16-1 {
    font-size: 1.6rem;
    color: #a6a6a6;
  }

  &--im-17-1 {
    font-size: 1.7rem;
    color: #5d5c5c;
  }

  &--im-18-1 {
    font-size: 1.7rem;
    color: #191a15;
  }

  &--im-18-2 {
    font-size: 1.8rem;
    color: $color-white;
  }

  &--im-18-3 {
    font-size: 1.4rem;
    color: $color-primary;
  }

  &--im-20-1 {
    font-size: 2rem;
    color: $color-black;
  }

  &--ir-12-1 {
    font-size: 1.4rem;
    font-family: "inter-regular";
    color: $color-grey-dark;
  }

  &--ir-14-1 {
    font-size: 1.4rem;
    font-family: "inter-regular";
    color: $color-white;
  }

  &--ir-16-1 {
    font-family: "inter-regular";
    font-size: 1.6rem;
    color: $color-black;
  }

  &--im-30-1 {
    font-size: 3rem;
    color: $color-white;
  }

  &--ir-16-1 {
    font-size: 1.6rem;
    font-family: "inter-regular";
    color: $color-black;
  }

  &--rr-14-1 {
    font-size: 1.4rem;
    color: $color-black;
  }

  &--error {
    font-size: 1.2rem;
    color: rgb(183, 3, 3);
  }

  &--error-2 {
    font-size: 1.4rem;
    color: rgb(197, 31, 31);
    font-family: "inter-medium";
  }

  &--success {
    font-size: 1.4rem;
    color: #047204;
    font-family: "inter-medium";
  }
}


