.btn {
  background: $color-blue;
  color: $color-white;
  outline: none;
  border: none;
  font-family: "inter-bold";
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.3s;
  > * {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &:disabled {
    background: $color-grey-dark;
    cursor: not-allowed;
  }

  &--1-1 {
    border-radius: 1.2rem;
    height: 4.8rem;
    min-width: 8.5rem;
    padding: 1.2rem 1.8rem;
  }

  &--1-2 {
    border-radius: 1.2rem;
    height: 4.8rem;
    min-width: 8.5rem;
    padding: 1.2rem 1.8rem;
    font-size: 1.6rem;
  }

  &--2-1 {
    height: 4.5rem;
    min-width: 2rem;
    border: 1px solid $color-grey-light-3;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-white;
    font-family: "inter-medium";
    color: $color-black-2;
    padding: 1.3rem 1.5rem;
    &:hover {
      background-color: darken($color-white, 5%);
    }
  }

  &--3-1 {
    height: 3.2rem;
    min-width: 2rem;
    border: 1px solid $color-grey-light-3;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;
    font-family: "inter-medium";
    color: $color-black-2;
    padding: 0.5rem 1.6rem;
    &:hover {
      background-color: darken(#f0f2f5, 5%);
    }
  }
}
